<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    @RenderBody()

    <style type="text/css">
        #footer {
            bottom: 2px;
            height: 40px;
            margin-top: 40px;
            text-align: center;
            vertical-align: middle;
            position: fixed;
            width: 100%;
        }
    </style>
    <div id="footer">&copy; 2020 - AWH Interview for Abid Alikashi </div>
</body>
</html>
